---
---

@import "{{ site.theme }}";

body {
  font-size: 20px;
  line-height: 1.4;
}

ol, ul {
  margin-left: 1rem;
}

li + li {
  margin-top: 0.25rem;
}

.inner {
  max-width: 700px;
}

#gesso_nav {
  max-width: 700px;
  margin: 10px auto;
  font-size: 24px;
}

#gesso_nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

#gesso_nav li {
  display: block;
  margin: 0;
  padding: 0 20px;
}

#gesso_nav li + li {
  border-left: 1px #212121 dotted;
}

.readme_link {
  font-variant: small-caps
}

#main_content.inner {
  padding-top: 0;
}
